/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

.focussed {
  border: 2px solid #00fff6;
  background-color: #efefef;
  color: black;
}

.focussed:hover,
.focussed:focus {
  border: 2px solid #ff49fa;
  background-color: white;
}
