@import 'variables.scss';
@import '~bulma/bulma';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

html {
  overflow-y: hidden;
}

//a {
//  color: blue;
//  //border-bottom: 2px solid black;
//
//  &:hover {
//    text-decoration: none;
//    border-bottom-style: hidden;
//  }
//}
