$primary: blue;

.source {
  width: 650px;
  flex: 1;
  display: flex;
  flex-direction: row;
  border: 3px solid #efefef;
  background: white;
  > * {
    flex: 1;
  }
  &.highlight {
    border: 3px solid $primary;
  }
}

.sample {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-break: unset;
  font-size: small;
  margin-left: 5px;
  padding: 5px;
  border-left: 1px solid #ccc;
}
.iframe-wrapper {
  transform: scale(0.7);
  transform-origin: 0 0;
}
