<div id="panels">
  <div id="editor">
    <label>Html</label>
    <textarea [(ngModel)]="html"></textarea>
    <button (click)="parseHtml()">Parse HTML</button>
  </div>
  <div id="feed" style="overflow: auto">
    <select (change)="applyRuleFromEvent($event)" [(ngModel)]="currentRule">
      <option *ngFor="let rule of rules" [ngValue]="rule">{{ rule?.score }} {{ rule?.id }}</option>
    </select>
    <div>
      <div>Score: {{currentRule?.score}}</div>
      <div>Stats: {{currentRule?.stats | json}}</div>
      <div>title: {{currentRule?.titlePath }}</div>
      <div>link: {{currentRule?.linkPath }}</div>
      <div>Common: {{currentRule?.commonTextNodePath }}</div>
      <div>{{ articles?.length }} articles</div>
      <pre [innerText]="json"></pre>
    </div>
  </div>
</div>
