.panel {
  padding: 5px;
  border-top: 1px solid #b5b792;
  border-left: 1px solid rgb(204, 204, 204);
}
.header {
  /*border-left: 1px solid #b5b792;*/
  padding-left: 10px;
  /*display: inline-block;*/
  text-transform: uppercase;
  margin-bottom: 10px;
}
li {
  display: inline-block;
}
pre {
  margin-left: 0;
  margin-right: 0;
}
