.panels {
  display: flex;
  height: 50vh;
}
.panels > div {
  padding: 10px;
}
#options {
  flex: 1;
  background: black;
  color: white;
}
#editor {
  flex: 2;
  background-color: gray;
}
#console {
  flex: 1;
  white-space: pre-line;
}
#feed {
  flex: 2;
}
textarea {
  width: 98%;
  height: 70%;
}
