.playground {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.playground__header {
  padding: 10px;
}
.playground__panels {
  display: flex;
  flex: 1;
}
app-panel {
  flex: 1;
}
#options {
  background: black;
  color: white;
}
#editor {
  background-color: gray;
}
#console {
  white-space: pre-line;
}
textarea {
  width: 98%;
  height: 70vh;
}
