$primary: blue;

.step-content {
  flex: 1;
  display: flex;
  > dl {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
.nav {
  width: 100px;
  list-style: none;
  li {
    .dot {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 1px solid black;
      display: inline-block;
      margin-right: 5px;
    }

    &.done {
      //font-weight: bold;
    }
    &.done,
    &.active {
      color: $primary;

      .dot {
        background: $primary;
        border-color: $primary;
      }
    }
  }
}
.samples {
  margin-left: 5px;
  padding-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-break: unset;
  font-size: small;
  > .sample {
    margin-bottom: 5px;
  }
}

iframe {
  border: 1px solid black;
  background: white;
}

.choose-feed {
  margin-right: 10px;
}

.menu-item {
  display: block;
  padding: 3px 2px;
  color: blue;
  border-bottom: 1px solid blue;

  &--disabled {
    color: #888;
    border-bottom: 1px solid #ccc;
  }
}

.playground {
  height: 100vh;
  display: flex;
  padding-left: 5px;
  padding-top: 5px;
  background-color: beige;
  flex-direction: column;
}

button.inactive {
  background: transparent;
  border: 1px solid black;
}

.error {
  color: #dc3545;
  text-align: center;
}

.unsupported-website {
  background-color: #ffa5a5;
}
