$primary: blue;

.is-active {
  .sample {
    color: white;
  }
}

.blue-frame {
  border: 3px solid $primary;
}

.playground {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  padding-left: 5px;
  padding-top: 5px;
  flex-direction: column;
}

button.inactive {
  background: transparent;
  border: 1px solid black;
}

.unsupported-website {
  background-color: #ffa5a5;
}

.is-bold {
  font-weight: bold;
}

a.highlight {
  color: $primary !important;
}
