.playground {
  height: 100vh;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;

  &__header {
    &--large {
      h1 {
        margin-top: 10rem;
        text-align: center;
      }

      .form {
        text-align: center;
      }
    }

    &--slim {
      h1 {
        display: none;
      }
    }
  }

  .list-of-feeds {
    list-style: circle;

    li {
      font-size: larger;
    }
  }

  .wizard_section {
    margin-top: 40px;
    font-size: larger;
  }
}

button.inactive {
  background: transparent;
  border: 1px solid black;
}

//a {
//  color: black;
//  border-bottom: 2px solid black;
//}
//a:hover {
//  text-decoration: none;
//  border-bottom-style: hidden;
//}
select:focus,
select:hover,
input[type=text]:focus,
input[type=text]:hover,
input[type=checkbox]:focus,
input[type=checkbox]:hover {
  background-color: white;
}

.playground__header {
  padding: 10px;
}

.playground__buttons {
  padding: 10px;
  text-align: center;
}

.playground__panels {
  display: flex;
  max-height: 100vh;
  flex: 1;
}

app-panel {
  flex: 1;
}

#console {
  white-space: pre-line;
}

textarea {
  width: 98%;
  height: 70vh;
}

.feed-url {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80vw;
  padding-top: 15px;
  font-size: 1.2em;
  padding-bottom: 15px;
}

pre {
  margin-left: 0;
  margin-right: 0;
  height: 70vh;
  white-space: break-spaces;
  word-break: break-all;
}

pre span {
  display: block;
  line-height: 1.5rem;
  counter-increment: line;
}

pre span:before {

  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888
}

.rule__selectors div {
  padding-left: 1em;
}

app-panel {
  padding: 5px;
  border-top: 1px solid #b5b792;
  border-left: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
}
.footer {
  padding: 10px; display: flex; border-top: 1px solid black;

  a.button {
    width: 250px; text-align: center; font-size: larger;
  }

  div {
    flex: 1;
  }
}
.rule {
  &:hover,
  &.active {
    background-color: #efefef;
  }
  cursor: pointer;
}

.active {
  a {
    color: #d32f2f;
    font-weight: bold;
  }
}

.error {
  color: #dc3545;
  text-align: center;
}

.unsupported-website {
  background-color: #ffa5a5;
}
.expert-section {
  .wizard_section {
    cursor: pointer;
  }
  &--hidden {
    .wizard_section {
      color: #cccccc;
    }
  }
  input {
    width: 100%;
  }
}
