$primary: blue;

.sample {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-break: unset;
  font-size: small;
  margin-left: 5px;
  padding: 5px;
  border-left: 1px solid #ccc;
}

.source-iframe {
  flex: 1;
  display: flex;
  flex-direction: row;
  border: 3px solid $primary;
  background: white;
  > * {
    flex: 1;
  }
}

.playground {
  height: 100vh;
  display: flex;
  padding-left: 5px;
  padding-top: 5px;
  flex-direction: column;
}

button.inactive {
  background: transparent;
  border: 1px solid black;
}

.error {
  color: #dc3545;
  text-align: center;
}

.unsupported-website {
  background-color: #ffa5a5;
}

.feed {
  flex: 1;
  border: 3px solid $primary;
}

